.getCombosDiv, .combo_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h1_combo{
    font-size: calc(0.6em + 0.7vw);
    font-weight: bolder;
}
.div_fila{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.fa-play, .fa-pause{
    font-size: xx-large;

}